---
layout: plain
---
<div id="content" class="uk-container">
    <div id="z43-newslist" class="uk-grid-small" uk-grid uk-height-match="target: > div > a > .uk-card" uk-scrollspy="target: > .z43-news-item; cls: uk-animation-slide-bottom; delay: 200;">
        <div class="uk-width-1-1
                    uk-width-1-2@s
                    uk-width-1-3@m
                    uk-width-1-4@l
                    uk-width-1-5@xl">
            <div class="uk-card uk-card-body z43-nav-card">
                <ul class="uk-nav uk-nav-primary">
                {% for item in site.data.quicklinks %}
                    <li><a class="{% if item.current %}uk-active{% endif %}"
                            href="{{item.href}}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    {% assign sorted_news = site.news | reverse %}
    {% for item in sorted_news %}
        {% assign tag = site.data.tags[item.group] %}
        <div class="z43-news-item z43-{{item.slug}}
            uk-width-1-1
            uk-width-{% if item.wide %}1-1{% else %}1-2{% endif %}@s
            uk-width-{% if item.wide %}2-3{% else %}1-3{% endif %}@m
            uk-width-{% if item.wide %}1-2{% else %}1-4{% endif %}@l
            uk-width-{% if item.wide %}2-5{% else %}1-5{% endif %}@xl"
        >
            <a href="#z43-news-modal-{{item.slug}}"
               class="uk-link-reset"
               uk-toggle>
            <div class="uk-card">
                <div class="uk-card-media-top">
                    <img src="assets/news/{{ item.image }}" alt=""/>
                </div>
                <div class="uk-card-body{% if item.wide %} z43-wide-card{% endif %}">
                    <div class="z43-card-box">
                    <h3 class="uk-card-title">{{ item.title }}</h3>
                    <div class="z43-card-body">
                        {{ item.excerpt | markdownify }}</div>
                    </div>
                    <div class="z43-card-gradient"></div>
                    <div class="z43-date">
                        {{ item.date | date: '%B %d, %Y' }}<br/>
                        in {{ tag.name }}
                        <div class="z43-color-tag">
                            in
                            <span class="z43-color-bar" style="background-color: {{ tag.color}};">
                                {{ tag.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div></a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- popups -->
{% for item in sorted_news %}
<div id="z43-news-modal-{{item.slug}}" class="z43-news-modal uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-container uk-margin-bottom" >
        {% include navbar-white.html %}
        </div>
        <div class="uk-container uk-container-xsmall">
            <h2 class="uk-modal-title">{{item.title}}</h2>
            <div class="z43-date">
                {{ item.date | date: '%B %d, %Y' }}<br/>
                in {{ tag.name }}
                <div class="z43-color-tag">
                    in
                    <span class="z43-color-bar" style="background-color: {{ tag.color}};">
                        {{ tag.name }}
                    </span>
                </div>
            </div>
            {% if item.authors %}
            <div class="z43-authors">{{item.authors}}
                {% if item.doi %}
                <a href="https://doi.org/{{item.doi}}">doi:{{item.doi}}</a>.
                {% endif %}
            </div>
            {% endif %}
            {{item.content | markdownify }}
        </div>  
    </div>
    {% assign next_idx = forloop.index %}
    {% assign next_item = sorted_news[next_idx] %}
    {% assign prev_idx = forloop.index | minus: 2 %}
    {% if prev_idx >= 0 %}
        {% assign prev_item = sorted_news[prev_idx] %}
    {% else %}
        {% assign prev_item = nil %}
    {% endif %}
    {% if prev_item %}
    <a href="#z43-news-modal-{{prev_item.slug}}"
    class="uk-icon z43-nav z43-left" 
    uk-icon="icon: chevron-left; ratio: 2;"
    uk-toggle>
    </a>
    {% endif %}
    {% if next_item %}
    <a href="#z43-news-modal-{{next_item.slug}}"
    class="uk-icon z43-nav z43-right"
    uk-icon="icon: chevron-right; ratio: 2;"
    uk-toggle>
    </a>
    {% endif %}
</div>
{% endfor %}