---
layout: plain
---
<div id="content" class="uk-container">
    <div id="z43-newslist" class="uk-grid-small" uk-grid uk-height-match="target: > div > a > .uk-card" uk-scrollspy="target: > .z43-news-item; cls: uk-animation-slide-bottom; delay: 200;">
        <div class="uk-width-1-1
                    uk-width-1-2@s
                    uk-width-1-3@m
                    uk-width-1-4@l
                    uk-width-1-5@xl">
            <div class="uk-card uk-card-body z43-nav-card">
                <ul class="uk-nav uk-nav-primary">
                {% for item in site.data.quicklinks %}
                    <li><a class="{% if item.current %}uk-active{% endif %}"
                            href="{{item.href}}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    
    {% for item in site.news %}
        {% assign tag = site.data.tags[item.group] %}
        <div class="z43-news-item 
            uk-width-1-1
            uk-width-{% if item.wide %}1-1{% else %}1-2{% endif %}@s
            uk-width-{% if item.wide %}2-3{% else %}1-3{% endif %}@m
            uk-width-{% if item.wide %}1-2{% else %}1-4{% endif %}@l
            uk-width-{% if item.wide %}2-5{% else %}1-5{% endif %}@xl"
        >
            <a href="#z43-news-item-modal-{{item.slug}}" class="uk-link-reset" uk-toggle>
            <div class="uk-card">
                <div class="uk-card-media-top">
                    <img src="assets/news/{{ item.image }}" alt=""/>
                </div>
                <div class="uk-card-body{% if item.wide %} z43-wide-card{% endif %}">
                    <div class="z43-card-box">
                    <h3 class="uk-card-title">{{ item.title }}</h3>
                    <div class="z43-card-body">
                        {{ item.excerpt | markdownify }}</div>
                    </div>
                    <div class="z43-card-gradient"></div>
                    <div class="z43-card-date">
                        {{ item.date | date: '%B %d, %Y' }}<br/>
                        in {{ tag.name }}
                        <div class="z43-color-tag">
                            in
                            <span class="z43-color-bar" style="background-color: {{ tag.color}}80;">
                                {{ tag.name }}
                            </span>
                        </div>
                    </div>
                    
                </div>
            </div></a>
            <div id="z43-news-item-modal-{{item.slug}}" class="uk-modal-full" uk-modal>
                <div class="uk-modal-dialog" style="min-height: 100vh;">
                    <div class="uk-container uk-margin-bottom" >
                    {% include navbar-white.html %}
                    </div>
                    <div class="uk-container uk-container-xsmall">
                        <h2 class="uk-modal-title">{{item.title}}</h2>
                        {{item.content | markdownify }}
                    </div>  
                </div>
            </div>
        </div>
    {% endfor %}
</div>
