<div class="uk-container" uk-height-match="row: false; target: .z43-hero-height-match">
<div class="z43-hero-height-match uk-position-relative uk-margin-bottom">
    {%- include navbar.html -%}
    <div class="z43-hero-height-match uk-position-top uk-visible-toggle uk-light" 
        tabindex="-1" uk-slideshow="animation: push; autoplay: true;">
        <ul class="uk-slideshow-items">
        {% for item in site.data.hero %}
            <li> 
                <img  src="assets/heroes/{{item.image}}" alt="" uk-cover>
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <h2 class="uk-margin-remove">{{item.title}}</h2>
                </div>
            </li>
        {% endfor %}
        </ul>
        
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>    
    </div>
</div>
</div>
{%- include menu.html -%}
<div id="z43-navbar-anchor"></div>