<div id="offcanvas-reveal" uk-offcanvas="mode: slide; overlay: false; flip: 
true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% for item in site.data.quicklinks %}
            <li><a class="uk-link-text"
                    href="{{item.href}}"
                    uk-scroll="offset: 50;"
                    uk-toggle="target: #offcanvas-reveal;"
                >{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
   </div>
</div>
<div id="z43-navbar-anchor"></div>