    <nav class="uk-navbar-container uk-navbar-transparent uk-light" 
    uk-navbar uk-sticky="top: #z43-navbar-anchor; animation: uk-animation-slide-top; cls-active: uk-background-secondary;show-on-up: true;" style="z-index: 900;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#"><img style="width: 200px;" src="assets/img/itis_foundation_white.svg"></a></li><li><img style="padding-left: 10px;padding-top: 20px;" src="assets/img/co2free.gif"></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="#" class="uk-navbar-toggle uk-margin-right" uk-toggle="target: #offcanvas-reveal" uk-navbar-toggle-icon></a></li>
            </ul>
        </div>
    </nav>
