    <nav class="uk-navbar-container uk-navbar-transparent" 
    uk-navbar uk-sticky="top: #z43-navbar-anchor; animation: uk-animation-slide-top; cls-active: uk-background-primary;show-on-up: true;" style="z-index: 900;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#"><img style="width: 200px;" src="assets/img/itis_foundation_black.svg"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><button class="uk-modal-close-full uk-close-large" type="button" uk-close></button></li>
            </ul>
        </div>
    </nav>
