    <nav class="uk-navbar-container" 
    uk-navbar style="z-index: 900;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#"><img class="z43-logo z43-logo-black" src="assets/img/itis_foundation_black.svg"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <a href="#"><img class="z43-logo-co2" src="assets/img/leaf_shadow.svg"></a>
            </div>
            <div class="uk-navbar-item">
                <button class="uk-modal-close-full uk-close uk-close-large" type="button" uk-close></button>
            <div>
        </div>
    </nav>
