    <div class="z43-navbar" uk-sticky="animation: uk-animation-slide-top;show-on-up: true;">
        <nav class="uk-container uk-navbar-container uk-navbar-transparent uk-light" 
        uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="#">
                        <img 
                            class="z43-logo z43-logo-white"
                            src="assets/img/itis_foundation_white.svg">
                        <img 
                            class="z43-logo z43-logo-black"
                            src="assets/img/itis_foundation_black.svg">
                        </a></li>
                        <li><img class="z43-logo-co2" src="assets/img/leaf_shadow.svg"></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#" class="uk-navbar-toggle uk-margin-right" uk-toggle="target: #offcanvas-reveal" uk-navbar-toggle-icon></a></li>
                </ul>
            </div>
        </nav>
    </div>