    <nav class="uk-navbar-container" 
    uk-navbar style="z-index: 900;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#"><img class="z43-logo z43-logo-black" src="assets/img/itis_foundation_black.svg"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><span uk-icon="icon: search; ratio: 2"></span></li>
                <li><a href="#"><img class="z43-logo-co2" src="assets/img/leaf_shadow.svg"></a></li>
                <li><button class="uk-modal-close-full uk-close-large" type="button" uk-close></button></li>
            </ul>
        </div>
    </nav>
