---
--- 
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@import "variables-theme.scss";

footer a {
    color: #fff;
}

footer {
    background-color: #0045b3;
    width: 100%;
    float: left;
}

.sh-hyphen {
    hyphens: auto;
}

.uk-navbar-container {
    .uk-navbar-left img {
        width: 6.5ex;
    }
}

.uk-offcanvas-bar {
    box-shadow: 0px 0px 20px 16px #0000000d;
}

.z43-nav-card {
    .uk-nav-primary>li>a {
        &.uk-active {
            color: #c10077;
        }
    font-weight: 700;
    font-size: 0.9rem;
    color: #000;
}}


.z43-news-modal {
    .z43-nav {
        top: 50%;
        position: absolute;
    }
    .z43-left {
        left: 0px;
        @media (min-width: $breakpoint-medium) {
            left: 50px;
        }
    }
    .z43-right {
        right: 10px;
        @media (min-width: $breakpoint-medium) {
            right: 50px;
        }
    }
    .uk-modal-dialog {
        height: 100vh;
        overflow-x:auto;
    }
    .z43-authors {
        font-weight: 700;
    }
    .z43-date {
        margin-bottom: 20px;
        .z43-color-tag {
            color: #ffffff00;
            line-height: 0.5;
            padding-bottom: -3px;
            overflow: hidden;
        }
    }
}

.z43-news-item > a > .uk-card {
    background-color: #fafafa;
    font-size: 15px;
    transition: transform 0.3s ease;
    transform: scale(1);
    .uk-card-title {
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 0.5em;
    }
    &:hover {
        transform: scale(1.008);
        background-color: #fcfcfc;
        .uk-card-media-top img {
            filter:brightness(1.05) saturate(1.05);
        }
    }
    .uk-card-body {
        padding: 100% 0 0 0;
        position: relative;
        overflow: hidden;
        .z43-card-box {
            position: absolute;
            top: 0;
            height: 100%;
            padding: 30px;
            line-height: 1.2;
        }
        .uk-card-title,
        .z43-card-body {
            hyphens: auto;
            strong {
                font-weight: inherit;
            }
        }
        .z43-card-gradient {
            position: absolute; 
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg,
             rgba(250,250,250,1) 20%,
             rgba(250,250,250,0) 80%);
        }
        .z43-date {
            position: absolute;
            bottom: 18px;
            left: 30px;
            font-size: 0.75rem;
            color: #00000060;
        }
        .z43-color-tag {
            color: #ffffff00;
            line-height: 0.5;
            padding-bottom: -3px;
            overflow: hidden;
        }
    }
    .z43-wide-card {
        padding-top: 50%;
    }
}