---
--- 

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@import "variables-theme.scss";

footer a {
    color: #fff;
}

footer {
    width: 100%;
    float: left;
    background-color: #f8f8f8;
}

.sh-hyphen {
    hyphens: auto;
}


.uk-offcanvas-bar {
    box-shadow: 0px 0px 20px 16px #0000000d;
}

.z43-navbar {
    z-index: 900;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    

    .z43-logo {
        width: 200px;
        @media (max-width: $breakpoint-small) {                
            width: 40vw;
        }
    }
    .z43-logo-co2 {
        padding: 10px;
        width: 60px;
        @media (max-width: $breakpoint-small) {                
            width: 40vw;
        }
    }
    .z43-logo-black {
        display: none;
    }
    &.uk-active {
        padding-top: 10px;
        .z43-logo-white {
            display: none;
        }
        .z43-logo-black {
            display: initial;
        }
        background-color: #fff;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #aaa;
        .uk-navbar-toggle {
            color: #000;
        }
    }
    @media (max-width: $breakpoint-small) {
        position: absolute;
        margin-top: -75px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        .z43-logo-white {
            display: none;
        }
        .z43-logo-black {
            display: initial;
        }
        // got to be explicit to override
        ul li a.uk-navbar-toggle {
            color: #000;
        }
    }
}
.z43-nav-card {
    .uk-nav-primary>li>a {
        &.uk-active {
            color: #c10077;
        }
    font-weight: 700;
    font-size: 0.9rem;
    color: #000;
}}

.z43-hero {
    position: relative;
    .uk-slideshow-items,.uk-slideshow {
        height: 100%;
    }
    height: 60vw;
    max-height: 60vh;
    margin-bottom: 3ex;
    @media (max-width: $breakpoint-small) {
        margin-top: 70px;
        margin-bottom: 2ex;
        height: 60vh;
    }
}
.z43-hero-text {
    //backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-size: 2.4vw;
    margin-top: 120px;
    @media (max-width: $breakpoint-small) {
        font-size: 4vw;
        margin-top: 0;
    }
}

.z43-news-modal {
    .z43-news-scroller {
        height: 100vh;
        overflow-y: auto;
    }
    .z43-news-body {
        padding-top: 130px;
        padding-bottom: 130px;
        li {
            margin-bottom: 1ex;
        }
    }
    .uk-slideshow-items {
        height: 100vh;
    }
    .uk-navbar-container {
        background-color: white;
    }
    .z43-nav {
        top: 50%;
        position: absolute;
    }
    .z43-left {
        left: 0px;
        @media (min-width: $breakpoint-medium) {
            left: 50px;
        }
    }
    .z43-right {
        right: 10px;
        @media (min-width: $breakpoint-medium) {
            right: 50px;
        }
    }
    .z43-logo {
        width: 200px;
    }
    .z43-logo-co2 {
        width: 50px;
    }
    .uk-modal-dialog {
        height: 100vh;
        overflow-x:auto;
    }
    .z43-authors {
        font-weight: 700;
    }
    .z43-date {
        margin-bottom: 20px;
        .z43-color-tag {
            color: #ffffff00;
            line-height: 0.5;
            padding-bottom: -3px;
            overflow: hidden;
        }
    }
}

.z43-news-item > a > .uk-card {
    background-color: #fafafa;
    font-size: 0.95rem;
    @media (max-width: $breakpoint-small) {
        font-size: 0.7rem;
    }
    transition: transform 0.3s ease;
    transform: scale(1);
    .uk-card-title {
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 0.5em;
        @media (max-width: $breakpoint-small) {
            font-size: 0.7rem;
            font-weight: 600;
        }
    }
    &:hover {
        transform: scale(1.008);
        background-color: #fcfcfc;
        .uk-card-media-top img {
            filter:brightness(1.05) saturate(1.05);
        }
    }
    .uk-card-body {
        padding: 100% 0 0 0;
        position: relative;
        overflow: hidden;
        .z43-card-box {
            position: absolute;
            top: 0;
            height: 100%;
            padding: 30px;
            @media (max-width: $breakpoint-small) {
                padding: 10px;
            }
            line-height: 1.2;
        }
        .uk-card-title,
        .z43-card-body {
            hyphens: auto;
            strong {
                font-weight: inherit;
            }
        }
        .z43-card-gradient {
            position: absolute; 
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg,
             rgba(250,250,250,1) 20%,
             rgba(250,250,250,0) 80%);
            @media (max-width: $breakpoint-small) {
                background: linear-gradient(0deg,
                rgba(250,250,250,1) 35%,
                rgba(250,250,250,0) 100%);
               } 
        }
        .z43-date {
            position: absolute;
            bottom: 18px;
            left: 30px;
            font-size: 0.75rem;
            color: #00000060;
            @media (max-width: $breakpoint-small) {
                bottom: 12px;
                left: 10px;
                line-height: 1.3;
                font-size: 0.7rem;
                color: #000000A0;
            }
            
        }
        .z43-color-tag {
            color: #ffffff00;
            line-height: 0.5;
            padding-bottom: -3px;
            overflow: hidden;
            @media (max-width: $breakpoint-small) {
                padding-bottom: -3px;
            }
        }
    }
    .z43-wide-card {
        padding-top: 50%;
        .uk-card-title {
            font-size: 1.4rem;
            @media (max-width: $breakpoint-small) {
                font-size: 0.9rem;
            }
        }
        .z43-card-body {
            font-size: 1.1rem;
            @media (max-width: $breakpoint-small) {
                font-size: 0.8rem;
            }
        }
    }
}